#checkWindow.page 
  #checkMyB.banner
  .itemContent
    .sub
      .titleBar
        .checkMyStyleLogoIcon
        .title CheckMyStyle
      .text 
        p _
        p Project URL: #[a(href="http://checkmystyle.advan.io" target="_blank") checkmystyle.advan.io]
        p Download Plugin: #[a(href="https://chrome.google.com/webstore/detail/checkmystyle/naflbdhfnpfopliiheocejamlglgnfpe" target="_blank") CheckMy.Style on Chrome Webstore]
        p Type: Capstone
        p Duration: ~600 hours
        p.tech JS, AngularJS, Mongo, Jade + Gulp, Chrome, CSS, JQuery, Facebook Graph
        .break Brief: 
          .mainText 
            .screenBox
              img.screenshot(src="/images/screenshots/checkmystyle.png" nopin="nopin")
              .zoom(style="background: url('/images/screenshots/checkmystyle.png'); background-size:cover;")
            |CheckMy.Style is a unique Chrome Extension and website to allow users to quickly and easily create outfits while shopping for clothing online.
          p _
          p Synopsis:
          .mainText Initially I planned to only build the Chrome Extension, as a result 
            |I included all of a "main site" functionality within the plugin. 
            |Late game user testing (i.e. people were like "this is too hard to use") revealed that 
            |my UX left much to be desired. As much as I loved what I had done, if people were to actually 
            |use this thing it would require a rebuild, of sorts. 
          .mainText After the rebuild I was able to rapidly develop contengent UX improvements such as in-line form inputs in
            |the custom dropdowns as well as utilizing automatic article type identification to make adding articles a two-click process. 
            |I accepted the shortcomings of the original interface and actively sought user input to help turn the interface 
            |into it's current state.
          .mainText I used this experience to really understand the core use case of this plugin and I will continue to develop it 
            |with that use-case in mind. 
          p _
          p Future:
          .mainText This application may have practical merit. I will continue to develop it as well as streamline the UX.
            |Future features include live updating FashionStream, outfit "likes" through Facebook Graph, Facebook,Twitter,Twillio 
            |post/messaging to allow quick dissemination of newly minted outfits.
            p Road map includes: 
            p Update main interface:
            p 1) Socket.io connection for intermittent (~3-4s) polling to update FashionStream as users are bookmarking fashion 
            p 2) Reduce clutter, increase white-space.
            p 3) Determine user interaction level.
            p 4) Network with Fashion Bloggers.
            p 5) Develop Fashion Stream trending/filter methods.
            p 6) UIX improvements galore...
        
