#checkWindow.page 
  #checkMyB.banner
  .itemContent
    .titleBar
      .checkMyStyleLogoIcon
      .title CheckMyStyle
    .text 
      p _
      p Project URL: 
        a(href="checkmystyle.advan.io") checkmystyle.advan.io
      p Type: Capstone
      p Duration: ~600 hours
      p.tech JS, AngularJS, Mongo, Jade + Gulp,
      p.break Brief: 
        .mainText CheckMy.Style is a unique Chrome Extension and website to allow users to quickly and easily create outfits while shopping for clothing online.
        p _
        p Synopsis:
        .mainText Initially I planned to only build the Chrome Extension, as a result 
          |I included all of a "main site" functionality within the plugin. 
          |Late game user testing (i.e. people were like "this is too hard to use") revealed that 
          |my UX left much to be desired. As much as I loved what I had done, if people were to actually 
          |use this thing it would require a rebuild, of sorts. 
        .mainText I used this experience to really understand the core use case of this plugin and I will continue to develop it 
          |with that use-case in mind. 
        p _
        p Future:
        .mainText This application may have practical merit. I will continue to develop it as well as streamline the UX.
          |Future features include live updating FashionStream, outfit "likes" through Facebook Graph, Facebook,Twitter,Twillio 
          |post/messaging to allow quick dissemenation of newly minted outfits.
