#homeWindow.page 
  #homeB.banner
  .itemContent
    .sub
      .titleBar
        .wordexTitle Welcome
      .textHome
        .mainText 
          img.screenshot(src="/images/card_barry.jpg" nopin="nopin")
          |Hello, welcome to my personal site, advan.io! Beginning April 2015 and finishing in October 2015, I attended the 
          |immersive #[a(href="http://galvanize.com" target="_blank") Galvanize] Full Stack program.  Everything here represents 
          |skills largely acquired during the last 6 months!
        .mainText The three projects to the left represent a reasonable picture of my progress from roughly 
          |week 7 in this course, up through and culminating with my Capstone project, CheckMyStyle. 
          |I've included the approximate time to completion as the "Duration" for each project.
        .resume
          .mainText
            p(style="width:200px;") Project URL: #[a(href="advan.io") advan.io]
            p Type: Portfolio
            p(style="width:200px;") Duration: ~25 hours
            p(style="width:200px;").tech JS, Jade, Photoshop
        .resume
          .break Brief: 
            .mainText Advan.io is the spiritual successor to #[a(href="http://www.advan3d.com") Advan3d] 
              |my original 3D modeling portfolio.
