#homeWindow.page 
  #homeB.banner
  .itemContent
    .sub
      .titleBar
        .wordexTitle Welcome
      .textHome
        .mainText 
          img.screenshot(src="/images/card_barry.jpg" nopin="nopin")
          |Hello, welcome to my personal site, advan.io! Everything here has been completed during the last 
          |6 months while enrolled in an immersive full-stack development program at Galvanize Denver!
        .mainText The three projects to the left represent a reasonable picture of my progress from roughly 
          |week 7 in this course, up through and culminating with my Capstone project, CheckMyStyle. 
          |I've included the approximate time to completion as the "Duration" for each project.
        .resume
          .mainText
            p(style="width:200px;") Project URL: #[a(href="advan.io") advan.io]
            p Type: Portfolio
            p(style="width:200px;") Duration: ~20 hours
            p(style="width:200px;").tech JS, Jade, Lots of CSS
        .resume
          .break Brief: 
            .mainText Advan.io is a spiritual successor to #[a(href="http://www.advan3d.com") Advan3d] 
              |my original 3D modeling porfolio.
