.icons
  #sql.iconImg(style="background-image: url('images/sql3.png'); background-repeat: no-repeat; background-position: center; background-size: contain;")
    .iconTxt MS SQL 2008R2
  #postgres.iconImg(style="background-image: url('images/postgres.png'); background-repeat: no-repeat; background-position: center; background-size: contain;")
    .iconTxt Postgres
  #mongo.iconImg(style="background-image: url('images/mongo.png'); background-repeat: no-repeat; background-position: center; background-size: contain;")
    .iconTxt Mongo
  #atom.iconImg(style="background-image: url('images/atom.png'); background-repeat: no-repeat; background-position: center; background-size: contain;")
    .iconTxt Atom
  #chrome.iconImg(style="background-image: url('images/chrome.png'); background-repeat: no-repeat; background-position: center; background-size: contain;")
    .iconTxt Chrome
  #css3.iconImg(style="background-image: url('images/css3.png'); background-repeat: no-repeat; background-position: center; background-size: contain;")
    .iconTxt CSS 3
  #html5.iconImg(style="background-image: url('images/html5.png'); background-repeat: no-repeat; background-position: center; background-size: contain;")
    .iconTxt HTML 5
  #gulp.iconImg(style="background-image: url('images/gulp.png'); background-repeat: no-repeat; background-position: center; background-size: contain;")
    .iconTxt Gulp
  #jade.iconImg(style="background-image: url('images/jade2.png'); background-repeat: no-repeat; background-position: center; background-size: contain;")
    .iconTxt Jade
  #js.iconImg(style="background-image: url('images/js.png'); background-repeat: no-repeat; background-position: center; background-size: contain;")
    .iconTxt JavaScript
  #angular.iconImg(style="background-image: url('images/angular.png'); background-repeat: no-repeat; background-position: center; background-size: contain;")
    .iconTxt AngularJS
  #node.iconImg(style="background-image: url('images/node.png'); background-repeat: no-repeat; background-position: center; background-size: contain;")
    .iconTxt Node.Js
  #npm.iconImg(style="background-image: url('images/npm-cube.png'); background-repeat: no-repeat; background-position: center; background-size: contain;")
    .iconTxt NPM
