.icons
  img#sql.iconImg(src="images/sql3.png")
  img#postgres.iconImg(src="images/postgres.png")
  img#mongo.iconImg(src="images/mongo.png")
  img#atom.iconImg(src="images/atom.png")
  img#chrome.iconImg(src="images/chrome.png")
  img#css3.iconImg(src="images/css3.png")
  img#html5.iconImg(src="images/html5.png")
  img#gulp.iconImg(src="images/gulp.png")
  img#jade.iconImg(src="images/jade2.png")
  img#js.iconImg(src="images/js.png")
  img#angular.iconImg(src="images/angular.png")
  img#node.iconImg(src="images/node.png")
  img#npm.iconImg(src="images/npm-cube.png")
