#meWindow.page 
  #meB.banner
  .itemContent
    .sub
      .titleBar
        .wordexTitle About Me
      .textHome
        .mainText 
          img.screenshot(src="/images/card_barry.jpg" nopin="nopin")
          p I most recently graduated from Galvanize, an intensive 6 month development boot camp. I'm quite familiar with boot camps, as I'm also a traditional Air Force Reservist specializing in signals intelligence. 
          p Before all of this however I maintained a nine year career as a professional computer animator creating engineering-based animation and graphic design for litigation for the likes of Ford, and Waste Management to name a few. 
          p I am also an armchair industrial designer; I create things: pragmatic, creative, real, and virtual. 
          p This mixture of backgrounds and interests has given me an eclectic collection of projects, however there is a common thread among them: I turn ideas into products, whether they are 3D visualizations, software applications, or physical.
          .mainText Random Cool stuff I've done:
          p Built my own "great" sword! #[a(href="http://www.bigbadswords.com") Curious? ]
          p Created several original garments to include full length coats and jackets.
          p Taken multiple ideas from concept to design to physical prototype.
          p Created physical items through rapid prototyping.
