#meWindow.page 
  #meB.banner
  .itemContent
    .sub
      .titleBar
        .wordexTitle About Me
      .text 
        .mainText 
          .screenBox(style="float:left; margin-top:20px;")
            img.screenshot(src="/images/card_barry.jpg" nopin="nopin")
            .zoom(style="background: url('/images/card_barry.jpg'); background-size:cover;")
          |I have varied interests ranging from cars and racing to costuming and fashion. 
        .mainText I've built my own "great" sword! 
          a(href="http://www.bigbadswords.com") Curious? 
        .mainText I enjoy design in many facets, from the pure aesthetic down to the engineering side of things. 
          |I incorporate this type of whole package thinking in many facets of my work ranging from 
          |code to physical product design!
        .mainText I strive to come up with elegant but appropriate solutions to interesting problems be it 
          |for fun or profit!
