#menu
  #home.option Home
    .optionSquare
  .divider Projects
  #check.option CheckMy.Style
    .optionSquare
  #wordex.option WordExplorer
    .optionSquare
  .divider Resume
  #resume.option Resume
    .optionSquare
