#menu
  #home.option Home
    .optionSquare
  #me.option Me
    .optionSquare
  .divider Projects
  #check.option CheckMy.Style
    .optionSquare
  #wordex.option WordExplorer
    .optionSquare
  #typo.option Typographer
    .optionSquare
  .divider Resume
  #resume.option Resume
    .optionSquareBlue

  
  
