#resumeWindow.page 
  #resumeB.banner
  .itemContent
    .sub
      .titleBar
        .wordexTitle Resume
      .textHome
        a.resume(href="https://docs.google.com/document/d/1a_vVM9kI4KtlBNxxAvHYBaLzpLU1Cr07D9gObcaQsbk/edit?usp=sharing" target="_blank")
          img.preview(src="/images/screenshots/resume.png" nopin="nopin")
          p Resume (google Docs)
        a.resume(href="/images/barry_bankhead_resume_2015.docx")
          img.preview(src="/images/screenshots/resume.png" nopin="nopin")
          p Resume (.docx)
