#resumeWindow.page 
  #resumeB.banner
  .itemContent
    .sub
      .titleBar
        .wordexTitle Resume
      .textHome
        a.resume(href="https://resume.creddle.io/resume/gvlgxkxuqyj" target="_blank")
          img.preview(src="/images/screenshots/resume.png" nopin="nopin")
          p.preview Resume (google Docs)
