extends layout

block content
  #backgroundDiv
  #stripe    
    #mainRow.row
      .advan Advan.
      .io io
      .me Barry Bankhead 
      .wido Full Stack Development | Industrial Design
      include partials/menu
      include partials/home
      include partials/me
      include partials/checkmy
      include partials/wordex
      include partials/typo
      include partials/resume
    include partials/icons
