extends layout

block content
  #backgroundDiv
  #stripe    
    #mainRow.row
      .advan Advan.
      .io io
      .me Barry Bankhead | Full Stack | Industrial Design
      include partials/menu
      include partials/home
      include partials/checkmy
      include partials/wordex
    include partials/icons
