extends layout

block content
  #backgroundDiv
  #stripe    
    #mainRow2.row2
      #mainRow.row
        .advan Advan.
        .io io
        .wido Full Stack Development | Industrial Design
        .me Barry Bankhead 
        include partials/menu
        include partials/home
        include partials/me
        include partials/checkmy
        include partials/wordex
        include partials/typo
        include partials/resume
      include partials/icons
